.article-link {
	margin-bottom:50px;

	display:flex;
	flex-direction:column;
	align-items: flex-start;
}

.article-link__thumbnail {
	width:100%;
	max-height:300px;
	object-fit:cover;

	margin-right: 20px;
	border-radius:5px;
}

.article-link__title{
	margin-top:0;
}

.article-link__content {
	word-wrap: break-word;
}

@media(min-width:720px){
	.article-link {
		margin-bottom:50px;

		display:flex;
		align-items: flex-start;
		flex-direction:row;
	}

	.article-link__thumbnail {
		object-fit:cover;
		max-width:200px;
		height:150px;
		margin-right: 20px;
	}

	.article-link__title{
		margin-top:0;
	}
}