.btn {
	text-decoration: none;
	border: 2px solid black;
	border-radius:5px;
	text-align:center;
	padding:10px;
	font-weight:700;
	background-color: white;
}

.btn--orange {
	color:orange;
	border-color:orange;
}

.btn--red {
	color: red;
	border-color:red;
}

.btn--purple {
	color:purple;
	border-color: purple;
}